<a href="https://colab.research.google.com/github/abhitele07/Developement/blob/main/Anuj_bhaiya.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Operators In Python

In [ ]:
#Arithmetic Operator
#Average Of Three Numbers
first_num  = 45
second_num = 23
third_num  = 13
average=(first_num+second_num +third_num/3)
print(average)

In [ ]:
#Assignment Operator
a = 6
#a = a + 56
a += 56
print (a)

In [ ]:
#Relational Operators
a = 56
b = 78

print("a > b",a>b)
print("a < b",a<b)
print("a == b",a==b)
print("a != b",a!=b)
print("a >= b",a>=b)
print("a <= b",a<=b)

In [ ]:
#Logical Oprator and or not
x = True
y = False

print("x and y",x and y)
print("x or y",x or y)
print("x not ", not x )

# User Input

In [ ]:
a = int(input())
b = int(input())
c = a*b
print('The Ans is',c)

In [ ]:
#average of marks
a = int(input('Maths'))
b = int(input('English'))
c = int(input('Science'))

average = ( a+b+c/3)
print('The Average of Students Marks is',average)

# Conditional Statements
if


if  else

In [ ]:
#if statement
age = 23
if age > 18:
    print('He can Vote')

He can Vote

In [ ]:
#if else
age = 15
if age > 18:
    print('You can Vote')
else:
    print('You Can not Vote')

You Can not Vote

In [ ]:
#elif
num = 6.5
if num>0:
     print("number is positive")
elif num == 0:
     print("number is zero")
else:
    print("number is negative")

number is positive

# Python Range Function

In [ ]:
#range funcion
a = list(range(100))
print(a)

# Loops in Python

In [ ]:
  #For Loop
  for a in range(20):
      print(a*3, end=",")

In [ ]:
#for loop in a list
b = ['3','4','5']
for x in b:
    print(x*2)

In [ ]:
#while loop
a = 7
while a>=0:
  print(a)
  a-=1

# Break and Continue

In [ ]:
#break
for i in list(range(20)):
    if i10:
      break
    print(i)

In [ ]:
#Continue
for i in list(range(20)):
    if i==10:
      continue
    print(i)

0
1
2
3
4
5
6
7
8
9
11
12
13
14
15
16
17
18
19

# Strings in Python

In [ ]:
#Slicing the String
a = "vwxyz"
print(a[3])
#a[1:5]

y

In [ ]:
#Slicing All Ways
#a[ : 3] a[2:] a[2:4:2]
a = 'abcde'
a[-1:2:-1]

'ed'

In [ ]:
#for loop in a string
a = "abc"
b = "def"
for my_char in a:
    print(my_char*2,end=" ")

aa bb cc

In [ ]:
#string methods in py
a = "    AbhiTheRockstaR    "
print(a.isalpha())
print(a.isdigit())
print(a.islower())
print(a.isupper())
print(a.lower())
print(a.upper())
print(a.lstrip())
print(a.rstrip())

False
False
False
False
    abhitherockstar
    ABHITHEROCKSTAR
AbhiTheRockstaR
    AbhiTheRockstaR

# List In Python

In [ ]:
#list expressions
boys = ['Abhi','Naren','Deepak'] 
#print(boys[2])
#del boys[0]
boys =('Ganesh')
print(boys)

Ganesh